<strong>Olá, {{ manager }}</strong>
<p>Uma nova inscrição foi realizada, confira os detalhes:</p>
<br />
<p>
  <strong>Participante: </strong> {{ user }} <br />
  <strong>Event: </strong> {{ event }} <br />
  <strong>Data/hora: </strong> {{ date }}
</p>
